.dashboard {
    padding: 20px;
}

.hero {
    border: solid 0px black;
    // display: flex;
    // align-items: center;
    width: 200px;
}

.cardMedia {
    height: 0;
    padding-top: 56.25%
}